# Project exclude paths
/demo-spring-boot-starter/target/
/java-jc/target/
/springboot/spring-boot-00-bill/target/
/springboot/spring-boot-01-hello/target/
/springboot/spring-boot-01-init-02/target/
/springboot/spring-boot-02-config/target/
/springboot/spring-boot-02-config-02/target/
/springboot/spring-boot-03-logging/target/
/springboot/spring-boot-04-web/target/
/springboot/spring-boot-05-bill/target/
/springboot/spring-boot-10-bill/target/
/springcloud/microservice-cloud-02-api/target/
/springcloud/microservice-cloud-03-provider-product-8001/target/
/springcloud/microservice-cloud-04-consumer-product-80/target/
/springcloud/microservice-cloud-05-eureka-6001/target/
/springcloud/microservice-cloud-05-eureka-6002/target/
/springcloud/microservice-cloud-06-provider-product-8002/target/
/springcloud/microservice-cloud-07-consumer-product-feign/target/
/springcloud/microservice-cloud-08-provider-product-hystrix-8001/target/
/springcloud/microservice-cloud-09-hystrix-dashboard-9001/target/
/springcloud/microservice-cloud-10-zuul-gateway-7001/target/
/springcloud/microservice-cloud-11-config-server-5001/target/
/springcloud/microservice-cloud-12-config-client-8080/target/
/springcloud/microservice-cloud-13-eureka-config-6001/target/
/springcloud/microservice-cloud-14-product-config-8001/target/
/springcode/spring-01/target/
/springcode/spring-02/target/
/springcode/spring-03/target/
/springcode/spring-04/target/
/springsource/spring-annotation/target/